**/__pycache__/
**/*.pyc
**/.idea
**/.vscode
**/.htaccess
**/tmp/
**/passenger_wsgi.py
**/env/
**/ta-lib/
**/db.sqlite3
**/*.csv
**/*.zip
**/!currency_code_to_etf.csv
**/.log
**/Pipfile
**/saved_models/
**/*.joblib
**/*.pkl
**/.pytest_cache
**/*.png