__pycache__/
*.pyc
.idea
.vscode
.htaccess
tmp/
passenger_wsgi.py
env/
ta-lib/
db.sqlite3
*.csv
*.xlsx
*.pkl
*.zip
logger/
.log
Pipfile
core/djangomodule/management/commands/debug.py
core/*/migrations/*
cron/LogFile/*
*.png